/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
  font-family: "Mayenne Sans";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/MayenneSans-Regular-Web.woff2") format("woff2");
}

/* ==========================================================================
   Variables
   ========================================================================== */
:root {
  --base-font-size: 20px;
  --large-font-size: clamp(35px, 10vw, 47px);
  --base-font-stack: "Segoe UI", system-ui, sans-serif;
  --padding-top: calc(15px + 0.5vh);
  --medium-opacity: 0.75;
  --outline-white: 2px solid white;
}

/* ==========================================================================
   CSS Reset
   ========================================================================== */

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
}

html, body, section, h1, p {
  margin: 0;
  padding: 0;
}

/* ==========================================================================
   Keyframes
   ========================================================================== */

@keyframes slideUpFirst {
 0% {
   transform: translateY(10px);
   opacity: 0;
 }
 100% {
   transform: translateY(0px);
   opacity: 1;
 }
}

@keyframes slideUpSecond {
 0% {
   transform: translateY(10px);
   opacity: 0;
 }
 100% {
   transform: translateY(0px);
   opacity: 1;
 }
}

.slideUpFirst {
  animation: slideUpFirst 1300ms ease;
}

.slideUpSecond {
  animation: slideUpSecond 1300ms ease;
}

/* ==========================================================================
   Main styles
   ========================================================================== */

::selection {
  background-color: hsl(0deg 0% 100% / 21%);
}

body {
  font-family: "Segoe UI Variable Text Regular", var(--base-font-stack);
}

body {
  display: grid;
  place-items: center;
  background: #222;
  color: white;
}

p {
  font-size: var(--base-font-size);
}

button {
  font-family: "Segoe UI Variable Small Regular", var(--base-font-stack);
  font-size: calc(var(--base-font-size) - 4px);
}

button {
  opacity: var(--medium-opacity);
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: 300ms ease;
}

button:hover {
  opacity: 1;
}

button:focus-visible {
  transition: none;
  outline: var(--outline-white);
}

button::after {
  content: "Or press the space bar";
  font: inherit;
  color: inherit;
  display: none;
}

button:hover::after, button:focus::after {
  content: "(Or press the space bar)";
  opacity: calc(var(--medium-opacity) - 0.10);
  margin-left: 5px;
  font: inherit;
  color: inherit;
  display: revert;
}

/* link styles */

a {
  display: block;
  width: fit-content; /* quick hack to revert the `display: block` */
  padding-top: calc(15px + 0.5vh);
  opacity: var(--medium-opacity);
  color: #fff;
  text-decoration-color: hsl(0deg 0% 100% / 26%);
  text-underline-offset: 1px;
  text-decoration-thickness: 1.5px;
  transition: 300ms ease;
}

a:hover {
  text-decoration-color: #ffffff66;
  opacity: 1;
}

a:focus-visible {
  transition: none;
  outline: var(--outline-white);
  text-decoration: none;
}

.container {
  margin: 5vw auto;
}

footer {
  position: absolute;
  left: 24px;
  bottom: 24px;
}

.container__definitions {
  max-width: 650px;
}

.definitions {
  height: 90%;
}

.text__word {
  font-family: "Mayenne Sans", "Segoe UI Variable Display Black", var(--base-font-stack);
  font-size: var(--large-font-size);
  display: inline;
  padding-top: 15px;
}

.text__definition {
  padding-top: 15px;
}

sup {
  font-size: var(--base-font-size);
  opacity: var(--medium-opacity);
  padding-left: 10px;
  position: absolute;
}

.text__synonyms {
  padding-top: var(--padding-top);
}

.text__synonyms--title {
  opacity: var(--medium-opacity);
}

/* ==========================================================================
   Media queries
   ========================================================================== */

@media screen and (max-width: 700px) {
 .container {
   margin: 5vw;
 }

 sup {
  padding-left: 0;
  position: revert;
  display: block;
 }
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation: 0ms !important;
    transition: 0ms !important;
  }
}
