/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
  font-family: 'Atlas Grotesk';
  font-weight: 500;
  src: url('../fonts/AtlasGrotesk-Medium-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Atlas Grotesk';
  font-weight: 400;
  src: url('../fonts/AtlasGrotesk-Regular-Web.woff2') format('woff2');
  
}

/* ==========================================================================
   CSS Reset
   ========================================================================== */

html {
  height: 100%;
}

html, body, section, h1, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* ==========================================================================
   Keyframes
   ========================================================================== */

@keyframes slideUpFirst {
 0% {
   transform: translateY(10px);
   opacity: 0;
 }
 100% {
   transform: translateY(0px);
   opacity: 1;
 }
}

@keyframes slideUpSecond {
 0% {
   transform: translateY(10px);
   opacity: 0;
 }
 100% {
   transform: translateY(0px);
   opacity: 1;
 }
}

.slideUpFirst {
 animation: slideUpFirst 1300ms ease;
}

.slideUpSecond {
 animation: slideUpSecond 1300ms ease;
}

/* ==========================================================================
   Main styles
   ========================================================================== */

body {
  -webkit-font-smoothing: antialiased;
  background: #222;
  color: white;
  height: 100%;
  font-family: 'Atlas Grotesk';
}

section {
  margin: auto;
  display: flex;
}

.container {
  margin: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.container__definitions {
  max-width: 630px;
}

p {
  font-size: 20px;
}

a {
  opacity: 0.75;
  color: #fff;
  border-bottom: 1px solid #ffffff42;
  text-decoration: none;
  margin-left: 10px;
}

.definitions {
  height: 90%;
}

.text__word {
  font-weight: 500;
  font-size: 45px;
  display: inline;
  padding-top: 15px;
}

.text__definition {
  font-size: 29px;
  line-height: 40px;
  padding-top: 15px;
}

.text__type {
  display: inline;
  margin-top: 16px;
  opacity: 0.75;
  padding-left: 13px;
  position: absolute;
}

.text__synonyms {
  padding-top: 35px;
  line-height: 31px;
}

.text__synonyms--title {
  opacity: 0.75;
}