/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
  font-family: 'Mayenne Sans';
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/MayenneSans-Regular-Web.woff2') format('woff2');
}

/* ==========================================================================
   CSS Reset
   ========================================================================== */

html {
  -webkit-font-smoothing: antialiased;
}

html, body, section, h1, p {
  margin: 0;
  padding: 0;
  border: 0;
}

/* ==========================================================================
   Keyframes
   ========================================================================== */

@keyframes slideUpFirst {
 0% {
   transform: translateY(10px);
   opacity: 0;
 }
 100% {
   transform: translateY(0px);
   opacity: 1;
 }
}

@keyframes slideUpSecond {
 0% {
   transform: translateY(10px);
   opacity: 0;
 }
 100% {
   transform: translateY(0px);
   opacity: 1;
 }
}

.slideUpFirst {
 animation: slideUpFirst 1350ms ease;
}

.slideUpSecond {
 animation: slideUpSecond 1350ms ease;
}

/* ==========================================================================
   Main styles
   ========================================================================== */

::selection {
  background-color: hsl(0deg 0% 100% / 21%);
}

body {
  font-family: 'Segoe UI Variable Text Regular', 'Segoe UI', system-ui, sans-serif;
  display: grid;
  place-items: center;
  background: #222;
  color: white;
}

p {
  font-size: 20px;
}

/* link styles */

a {
  display: block;
  width: fit-content; /* quick hack to revert the `display: block` */
  padding-top: calc(15px + 0.5vh);
  opacity: 0.75;
  color: #fff;
  text-decoration-color: #ffffff42;
  text-underline-offset: 1px;
  text-decoration-thickness: 1.5px;
  transition: 300ms ease;
}

a:hover {
  text-decoration-color: #ffffff66;
  opacity: 1;
}

a:focus-visible {
  transition: none;
  outline: 2px solid white;
  text-decoration: none;
}

.container {
  margin: 5vw auto;
}

.container__definitions {
  max-width: 630px;
}

.definitions {
  height: 90%;
}

.text__word {
  font-family: 'Mayenne Sans', 'Segoe UI Variable Display Black', 'Segoe UI', system-ui, sans-serif;
  font-size: clamp(35px, 10vw, 47px);
  display: inline;
  padding-top: 15px;
}

.text__definition {
  padding-top: 15px;
}

sup {
  font-size: 21px;
  opacity: 0.75;
  padding-left: 10px;
  position: absolute;
}

.text__synonyms {
  padding-top: calc(15px + 0.5vh);
}

.text__synonyms--title {
  opacity: 0.75;
}

/* ==========================================================================
   Media queries
   ========================================================================== */

@media screen and (max-width: 700px) {
 .container {
   margin: 5vw;
 }

 sup {
  padding-left: 0;
  position: revert;
  display: block;
 }
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation: 0ms !important;
    transition: 0ms !important;
  }
}